
html, body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	background: #FFFFFFF;
	font-family: century gothic;
	font-size: 12px;
	line-height: 1.6;
	color: #444;
	text-align:justify;
	
}


#top {
	height: 102px;
	width:100%;
	padding-top:5px;
	padding-bottom:10px;
	
}

.footer {
     background-color:#2e2e2e;
	 background-repeat:repeat-x;
	 color:#ffffff;
	
	
	 text-align:center;
	 
}

.background{

	background-image:URL(images/background.jpg);
	background-repeat:repeat-y;
	background-position:center;		 
	 
}

.nav_bar{
height:5px;
}

/*IE7 & Mozilla*/

html>body
.nav_bar{
height:3px;
}



#red {
	width:100%;
	text-align:center;
	background-image:url(images/grey_bg.png);
	
	
}

#content {
	width:100%;
}

#left {
	float:left;
	width:470px;
	padding-top:30px;
}



#left  p {
	padding-left:18px;
	padding-bottom:10px;
}

#right {
	float:left;
	width:380px;
	padding-top:30px;
	padding-left:20px;
}

#limit {
	width:900px;
	margin:auto;
	
	
}

.contact_top {
	font-size:11px;
	
	
}

#imageContainer1 { height:311px; }  
#imageContainer1 img  
{
	display:none; 	
	position:absolute; 	
	top:0px; left:0px; 	
	/*height:300px;  	
	width:1000px; 	*/
	height:311px;
	width:1000px;
	opacity: -0.01; 
}

#list-menu
{

}

#list-menu a {
display: block;
width:120px;
padding: 3px 3px 3px 3px;
background: #a01217;
text-decoration: none; /*lets remove the link underlines*/
} 

#list-menu a:link, #list-menu a:active, #list-menu a:visited {
display: block;
width:80px;
padding: 3px 3px 3px 3px;
background: #a01217;
color: #ffffff;
font-size:13px;
text-align:center;
text-decoration: none;
}

#list-menu a:hover {
background: #333333;
color: #ffffff;
} */

a:link {
COLOR: #000000;
text-decoration:none;
}
a:visited {
COLOR: #000000; text-decoration:none
}
a:hover {
COLOR: #c6191f;
}
a:active {
COLOR: #000000;
}

a.footer {
color:#CCCCCC;
}