html, body {
	margin: 0;
	padding: 0;	
}

body {
	background: #FFFFFFF;
	font-family: verdana;
	font-size: 12px;
	line-height: 1.6;
	color: #444;
	text-align:justify;
}

#content {
	width: 350px;
	margin: 30px auto;
	padding: 30px 60px;
	border: 1px solid #D2D2D2;
	-moz-box-shadow: 0 0 30px #CCC;
	-webkit-box-shadow: 0 0 30px #CCC;
	box-shadow: 0 0 30px #CCC;
	background: #FFF;
	background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 15px);
}

h1 {
	margin: 0;
	font-size: 30px;
	font-weight: normal;
	font-family: "Museo 700", verdana;
}

h1 em {
	font-size: 50%;
	letter-spacing: -0.05em;
}

h2 {
	margin: 0;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #cccccc;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding-bottom: 14px;
}

a {
	outline: none;	
}

a img {
	border: 1px solid #BBB;
	padding: 2px;	
	margin: 10px 30px 10px 0;
	vertical-align: top;
}

ul {
	margin: -1px 0 24px 0;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 20px 10px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #000}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 10px 3px 0px 0px;
	padding: 0px;
	background: #e1e1e1;
	border: 1px solid #d7d7d7}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 10px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #e1e1e1;
		color: #959595;
		font: 11px verdana}

	#sddm div a:hover
	{	background: #000;
		color: #FFF}
